:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#mainContainer {
    padding: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#boardContainer {
    position: relative;
}

#gameGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 275px);
    grid-template-rows: repeat(3, 275px);
    gap: 5px;
    z-index: 5;
    justify-items: center;
    align-items: center;
    background-color: black;
}

#gameGrid > div {
    background-color: white;
    height: 275px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-button {
    width: 10rem;
    height: 3rem;
    border-style: none;
}

.addMarkerButton {
    height: 275px;
    width: 275px;
    border-style: none;
    background-color: transparent;
}

.addMarkerButton:hover {
    background-color: rgba(251, 255, 0, 0.144);
    cursor: pointer;
}

.gameOverDiv {
    width: 30rem;
    height: 10rem;
    position: absolute;
    top: calc(50% - 5rem);
    left: calc(50% - 15rem);
    z-index: 10;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
}

.modalBlur {
    position: absolute;
    z-index: 6;
    filter: blur(.5rem);
    background-color: rgba(137, 137, 137, 0.202);
    top: calc(50% - 423px);
    left: calc(50% - 417.5px);
    width: 835px;
    height: 835px;
}